/* Reset default margins and paddings */
html,body,blockquote,code,h1,h2,h3,h4,h5,h6,p,pre{margin:0;padding:0}
button,fieldset,form,input,legend,textarea,select{margin:0;padding:0}
fieldset{border:0}
a,a *{cursor:pointer;text-decoration: none;}
div{margin:0;padding:0;background-color:transparent;text-align:left}
hr,img{border:0}
applet,iframe,object{border:0;margin:0;padding:0}
button,input[type=button],input[type=image],input[type=reset],input[type=submit],label{cursor:pointer;}
ul,li{list-style:none}
ul,li{margin: 0; padding: 0;}
strong{font-weight:bold;}
em{font-style:italic;} 

body{
    font-family: 'Roboto', sans-serif;
    color: #504B4B;
    background-color: #F3F5F7;
    margin: 10% 15% 0% 15%;
}
.container{
    display: grid;
}

/* Intro */
.container.intro{
    grid-template-columns: 50% 50%;
}
#snake-img{
    width: 35px;
    height: 35px;
}
#profile-image{
    width: 260px;
    height: 260px;
}
.separator{
    width: 38px;
    height: 1px;
    background-color: #504B4B;
    border-radius: 8px;
    vertical-align: middle;
}
.text{
    font-weight: normal;
    margin-bottom: 4%;
}
.text.role{
    font-size: 46px;
    line-height: 54px;
    font-weight: bold;
    font-style: normal;
}
.intro-text{
    margin-top: 8%;
}
.intro-img.intro-links{
    margin-top: 0%;
    justify-self: center;
    display: grid;
    grid-template-rows: auto auto;
}
.intro-links{
    margin-top: 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.link{
    width: 35px;
    height: 35px;
}
.btn.btn-scroll{
    border: none;
    background-color: inherit;  
    justify-self: center;
}
.btn.btn-scroll img{
    position: fixed;
    right: 50%;
    top: 95%;
    width: 35px;
    height: 35px;
    rotate: 90deg;
}

/* Project */
.container.projects{
    line-height: 27px;
    margin-top: 32%;
}
.container.projects .project{
    display: grid;
    grid-template-columns: 50% 50%;
}
.text.section-name{
    margin-bottom: 3%;
}
.project .project-img{
    justify-self: center;
}

.text.project-notes{
    margin-left: 5%;
    font-weight: 500;
}
.project-description{
    margin-right: 15%;
    font-weight: 300;
}
.text.project-description{
    margin-bottom: 0;
    font-weight: 500;
}
.text.project-notes{
    margin-bottom: 0;
    font-weight: 500;
}
.projects-images{
    justify-self: center;
}
#project1 .project-img img{
    width: 615px;
    height: 621px;
}
#project2 .project-img img{
    width: 537px;
    height: 467px;
}
.notes-img{
    width: 20px;
    height: 20px;
}

/* Skills */
.skills-img{
    width: 20px;
    height: 20px;
}
.skills{
    line-height: 27px;
    margin-right: 40%;
}
.skill-item ul{
    margin-left: 5%;
}
.skill-item{
    margin-bottom: 1%;
}
.skill-item.last{
    margin-bottom: 0;
}
